{% extends 'base.html' %}

{% block content %}
<div class="addgames-box">
  <div class="addgames">
      <h2 class="join-message">Add Board Game</h2>
      <form method="POST" class="gameform" id="user_form">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder="Search for A Game", class="form-control", id="searchinput") }}
          <div class="suggestions">
           <ul class="suggestions-list"></ul>
          </div>
        {% endfor %}

        <button class="add-butn">Add Game!</button>
      </form>
    </div>

  <div class="addgames">
    <h2 class="join-message"> {{user.username}}'s Games </h2>
    <ul class="game-list">
      {% for game in user.boardgames %}
        <li class="owned-games"><span> {{game.name}}</span>
          <form> <button formmethod="POST" formaction="/users/remove_game/{{game.id}}" class="del-butn"> Delete </button></form>
        </li>
      {% endfor %}
    </ul>
  </div>
   
</div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% endblock %}