<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Board Game Friend Finder</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% if g.user %}
  <nav id="sidebarMenu"
  class="collapse d-lg-block sidebar collapse sidebar-bg"
  >

<div class="position-sticky ">
 <div class="list-group-flush">
   <a
      href="/"
      class="list-group-item list-group-item-action py-2 ripple"
      aria-current="true"
      >
      <span class="sidebar-title">Board Game Friend Finder</span>
    </a>
    {% if g.user %}
    
    <div> <h3 class="sidebar-user"> Welcome,  {{ g.user.username}} </h3> <img scr = "{{g.user.image_url}}" alt=""></img></div>
    <a
    href="/users/add_games"
    class="list-group-item sidebar-item list-group-item-action py-3 ripple {% if request.path == '/users/add_games' %} side-active {% endif %}"
    ><span class="list-item">My Games </span>
    </a>
    <a
    href="/users/{{g.user.id}}/following"
    class="list-group-item  sidebar-item list-group-item-action py-3 ripple {% if  request.path == '/users/' ~ g.user.id ~ '/following' %} side-active {% endif %}"
    >
    <span class="list-item"> Favorite Users</span>
    </a>
    <a
    href="/users/profile"
    class="list-group-item sidebar-item list-group-item-action py-3 ripple {% if request.path == '/users/profile' %} side-active {% endif %}"
    >
    <span class="list-item">Edit profile</span>
    </a>
    <a
    href="/logout"
    class="list-group-item sidebar-item list-group-item-action py-3 ripple "
    >
    <span class="list-item">Log Out</span>
    </a>
    {% endif %}
    {% if not g.user %}
    <a
    href="/signup"
    class="list-group-item sidebar-item list-group-item-action py-3 ripple "
    >
    <span>Sign Up</span>
    </a>
    <a
    href="/login"
    class="list-group-item  sidebar-item list-group-item-action py-3 ripple "
    >
    <span>Log in</span>
    </a>
    {% endif %}
    </div>
  </div>
{% endif %}
</nav>
  
<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</div>
</body>
</html>