{% extends 'base.html' %}
{% block content %}
  <div class="col-sm-9">
    <div class="row">

      <div class="following">
        <h2> {{user.username}} </h2>
        <h6 class="games"> Your Games </h6>
        <div class="gamebox">
        {% for game in user.boardgames %}
          <div class="card-contents">
              <p>{{ game.name}}</p>
          </div>
         {% endfor %}
        </div>
      </div>

        {% for f in user.following %}
        <div class="following">
          <h5> {{f.username}}</h5>
          <p>  <a href = "mailto: {{f.email}}">{{f.email}}</a> </p>
          <div> {{f.location }}</div>
         

            <h6 class="games"> {{f.username}}'s games </h6>
            <div class="gamebox">
            {% for game in f.boardgames %}
            <div>
              {{ game.name }}
            </div>
            {% endfor %}
          </div>
        </div>
      {%  endfor %}
    </div>
  </div>   
{% endblock %}