{% extends 'base.html' %}
{% block content %}
    <div class="main-container">
        <div class="box">
          <a href="/users/{{ g.user.id }}" class="card-link">
            <img src="{{ g.user.image_url }}"
                 alt="{{ g.user.username }}"
                 class="card-image">
            <p>{{ g.user.username }}</p>
          </a>
          <ul class="user-stats nav nav-pills">
            <li class="stat">
              <p class="small">games</p>
            </li>
          </ul>
          <li class="stat">
            <a href = "users/{{g.user.id}}/following">Followers</a>
          </li>
          <a href="/users/add_games"> Add games</btn> </a>
          <ul>
            {% for game in g.user.boardgames %}
                <li>
                  <form method="POST" action="/users/remove_game/{{game.id}}"> 
                      <span>
                          {{game.name}} 
                          <button > Remove </button>
                      </span>
                  </form>  
                </li>
            {% endfor %}
          </ul>  
        </div>
      <div>
        <div id="request">requeeest</div>
        <div id="result">resposssne</div>
      </div>
      <div class = "box">
        <h2> Nearby Players </h2>
        <ul class="userlist">
          {% for u in users %}
            <li>
              <form method="POST" action="/users/{{ u.id }}/follow" class="messages-like">
               <span> {{u.username}}  
               <button class="btn 
               btn-sm 
               {{'btn-primary' if u.id in following else 'btn-secondary'}}">
                Follow
                </button>
               </span>
                
              </form>
            </li>
          {% endfor %}
        </ul>
      </div>       
  </div>
 <script src="{{ url_for('static', filename='distance.js') }}"></script>

    
{% endblock %}