{% extends 'base.html' %}
{% block content %}
    <div class="main-container">
      <div class = "box">
        <div class="center-title"> <h2> Nearby Players </h2>  </div>
        <ul class="list-group">
          
            {% for userpair in userpairs %}
                <div class="list-group-item"> 
                  <img class="user-img" src="{{userpair[0].image_url}}" alt="">  <span> <a href= "/users/{{userpair[0].id}}"> {{userpair[0].username}} </a></span>
                    <span class="tab-info">Location : {{userpair[0].location }} ||  </span>
                       Distance to you: 
                         <span class="dist-span"> {{userpair[1]}}</span> 
                      

                </div>
            {% endfor %}
        </ul>
      </div>       
  </div>
 <script src="{{ url_for('static', filename='distance.js') }}"></script>

    
{% endblock %}